body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

.nav-item {
  text-decoration: none;
  color: #000000;
  font-size: 1.1rem;
  margin: 0 10%;
}

.primary-color {
  color: orange;
}

.secondary-color {
  color: gray;
}

.link-button {
  color: white;
  text-decoration: none;
  font-weight: 700;
  padding: 15px 40px;
  border-radius: 25px;
  background-image: linear-gradient(#fc4a1a, #f7b733);
  letter-spacing: 1px;
}

.flex-general {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-general img {
  width: 100%;
}

.about {
  background-image: url("../images/shapes/frame.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
